<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="style.css">
    <title>Proyecto 2 - Técnicos y Supervisores</title>
</head>
<body>
<h1>Proyecto 2 - Programación Funcional y Colecciones</h1>
<h2>Tema: Supervisores y Técnicos</h2>

<h3>Consultas disponibles:</h3>
<ul>
    <li><a th:href="@{/consulta1}">Consulta 1 - Crear supervisor y técnicos</a></li>
    <li><a th:href="@{/consulta2}">Consulta 2 - Iteradores (ListIterator y Iterator)</a></li>
    <li><a th:href="@{/consulta3}">Consulta 3 - Programación funcional con filter()</a></li>
    <li><a th:href="@{/consulta4}">Consulta 4 - Function para sumar proyectos</a></li>
    <li><a th:href="@{/consulta5}">Consulta 5 - Método interno usando Function</a></li>
</ul>


</body>
</html>
